<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Link to Database -->
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="connection.username">system</property>
        <property name="connection.password">nitish</property>

        <!-- Sql Dialect-->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>

        <!-- Other Setting -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate_sql">true</property>

        <!-- Map The Entity -->
        <mapping class="entities.Note" />

    </session-factory>
</hibernate-configuration>